:root {
  --gsfsky-blue: rgba(64, 93, 152, 1);
  --dark-grey-400: rgba(33, 43, 54, 1);
  --gsfdark-blue: rgba(13, 12, 34, 1);
  --primarydark-grey: rgba(133, 133, 133, 1);
  --primarywhite: rgba(255, 255, 255, 1);
  --primarybackground-light-blue: rgba(242, 246, 251, 1);
}
