@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

.UMKM-user {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.UMKM-user .welcoming-dashboard-wrapper {
  background-color: #ffffff;
  width: 1920px;
  height: 7600px;
  position: relative;
}

.UMKM-user .welcoming-dashboard {
  position: relative;
  height: 7600px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  overflow-y: scroll;
}

.UMKM-user .welcoming-dashboard::-webkit-scrollbar {
  width: 0;
  display: none;
}

.UMKM-user .footer {
  position: absolute;
  width: 1920px;
  height: 406px;
  top: 7194px;
  left: 0;
  background-color: #3d5c73;
}

.UMKM-user .horizontal-border {
  position: absolute;
  width: 1920px;
  height: 334px;
  top: 0;
  left: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #f4f4f633;
}

.UMKM-user .container {
  position: absolute;
  width: 330px;
  height: 213px;
  top: 61px;
  left: 491px;
}

.UMKM-user .hello-we-are-lift {
  position: absolute;
  width: 269px;
  height: 72px;
  top: 46px;
  left: 12px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #f4f4f6cc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

/* Additional styles continue here... */

:root {
  --primary-color: rgba(0, 147, 121, 1);
  --secondary-color: rgba(1, 109, 90, 1);
  --grey-1-color: rgba(184, 184, 184, 1);
  --grey-2-color: rgba(134, 134, 134, 1);
  --white-color: rgba(255, 255, 255, 1);
  --medium: rgba(57, 62, 70, 1);
  --gsfsky-blue: rgba(64, 93, 152, 1);
  --white: rgba(255, 255, 255, 1);
}
